h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

body {
  margin: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 2.5% 10%;
}

#title {
  background-color: #24a19c;
  color: white;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 4rem;
  font-weight: 900;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

.menu {
  padding: 10px;
}

.navbar {
  padding: 8px 0 100px 0;
}

.button {
  padding: 10px;
  margin: 10px;
}

.title-img {
  width: 85%;
}

.rotated {
  margin-left: 70px;
  margin-bottom: 20px;
}

#features {
  padding: 7% 5%;
}

.features-image {
  display: block;
  margin: 70px auto;
  width: 100px;
}

.features-h3 {
  text-align: center;
}

.features-para {
  text-align: center;
}

.features-h2 {
  text-align: center;
}

#testimonials {
  text-align: center;
  background-color: #24a19c;
  color: white;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding: 2.5% 10%;
  text-align: center;
  background-color: #24a19c;
  color: white;
  padding-bottom: 3%;
}

.press-image {
  width: 20%;
  margin: 20px 20px;
}

.carousel-item {
  padding: 7% 10%;
}

#pricing {
  padding: 7% 10%;
  text-align: center;
}

.card {
  border: 0;
  margin: 5px 0 5px 0;
}

.card-header {
  background-color: #24a19c;
  color: white;
}

.card-footer {
  background-color: #24a19c;
  color: white;
}

.pricing-header {
  margin: 0 0 50px 0;
}

#cta {
  padding: 20px;
  text-align: center;
  background-color: #24a19c;
  color: white;
}

#footer {
  text-align: center;
  background-color: #24a19c;
  color: white;
}
