body {
  background-color: #24a19c;
  margin: 0 0 0 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

.container-fluid {
  padding: 6% 10%;
}

#title .container-fluid,
#cta .container-fluid {
  padding: 3% 10%;
}

#footer .container-fluid,
#press .container-fluid {
  padding: 0%;
}


/* Section Title */

#title {
  background-color: #24a19c;
  color: white;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 4rem;
  font-weight: 900;
  color: black;
}

.alignment-left {
  text-align: left;
}

.menu {
  padding: 10px;
}

.navbar {
  padding: 8px 0 100px 0;
}

.button {
  padding: 10px;
  margin: 10px 10px 10px 0;
}

.title-img {
  width: 85%;
}

/* Section features */

#features {
  background-color: white;
}

.features-image {
  display: block;
  margin: 70px auto;
  width: 100px;
}

/* Section Testimonials */

#testimonials {
  background-color: #24a19c;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Section Press */

#press {
  background-color: #24a19c;
  color: white;
  padding-bottom: 3%;
}

.press-image {
  width: 20%;
  margin: 20px 20px;
}

.carousel-item {
  padding: 3% 10%;
}

/* Section Pricing */

#pricing {
  background-color: white;
}

.card {
  border: 0;
  margin: 5px 0 5px 0;
}

.card-header {
  background-color: #24a19c;
  color: white;
}

.card-footer {
  background-color: #24a19c;
  color: white;
}

.pricing-header {
  margin: 0 0 50px 0;
}

/* Section CTA */

#cta {
  background-color: #24a19c;
  color: white;
}

/* Section Footer */

#footer {
  background-color: #24a19c;
  color: white;
}

.footer-icon {
  padding: 5px;
}

/* Low Density Devices */

@media (max-width: 1080px) {
  .title-img {
    width: 70%;
    padding: 20px;
    text-align: center;
  }

  #title {
    text-align: center;
    font-size: 30px;
  }
}
